- content_for :title, "Category - Audio Devices"

%h2.h2-title Category - Audio Devices

%table#category-table
  - @audio_devices.each do |audio_device|
    %tr
      %td
        #c1
          = audio_device.item_name
          %br
          = audio_device.loan_time
      %td#c2
        = link_to 'Add to request basket', pages_path(:id => audio_device.id), method: :post
      %td#c3
        = link_to 'Click to request device', new_loan_path(:id => audio_device.id)

.back-button
  = link_to fa_icon('angle-left', text: 'Back'), home_path
