- content_for :title, "Category - Departmental Devices"

%h2.h2-title Category - Departmental Devices

%table#category-table
  - @dept_devices.each do |dept_device|
    %tr
      %td
        #c1
          = dept_device.item_name
          %br
          = dept_device.loan_time
      %td#c2
        = link_to 'Add to request basket', pages_path(:id => dept_device.id), method: :post
      %td#c3
        = link_to 'Click to request device', new_loan_path(:id => dept_device.id)

.back-button
  = link_to fa_icon('angle-left', text: 'Back'), home_path
